.mathematician-details {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.mathematician-details .details {
  position: absolute;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

#graph {
  width: 100%;
  height: 500px;
}

.node:hover {
  cursor: pointer;
}
